<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @builder.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @builder.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @builder.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @builder.company %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @builder.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @builder.phone2 %>
</p>

<p>
  <strong>Email1:</strong>
  <%= @builder.email1 %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @builder.email2 %>
</p>

<%= link_to 'Edit', edit_builder_path(@builder) %> |
<%= link_to 'Back', builders_path %>
