<p id="notice"><%= notice %></p>

<h1>Listing Testtests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testtests.each do |testtest| %>
      <tr>
        <td><%= link_to 'Show', testtest %></td>
        <td><%= link_to 'Edit', edit_testtest_path(testtest) %></td>
        <td><%= link_to 'Destroy', testtest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testtest', new_testtest_path %>
