
<h1>Search results</h1>
 <% count = 0 %>

 <table>
  <thead>
    <tr>
      <th>name</th>
      <th>phone</th>
      <th>email</th>
      <th>Company</th>
      <th>Phone1</th>
      <th>Phone2</th>
      <th>Email1</th>
      <th>Email2</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @builder.each do |x| %>
 
  <% if x.name == $search %>
    <% count =1 %>
      <tbody>
      <tr>
       <td><%= x.name %></td>
       <td><%= x.phone %></td>
       <td><%= x.email %></td>
       <td><%= x.company %></td>
       <td><%= x.phone1 %></td>
       <td><%= x.phone2 %></td>
       <td><%= x.email1 %></td>
       <td><%= x.email2 %></td>
      </tr>
    </tbody>
</table><hr>
  
  <% end %>

<% end %>

<% if count == 0 %>
<h3>NOT FOUND</h3>
<% end %>

